.slider::-webkit-slider-thumb {
  appearance: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #aaa;
  /* background: rgba(188, 190, 188, 0.5); */
  cursor: pointer;
}
.slider::-webkit-slider-thumb:active {
  background: #fff;
}
.unlockIcon {
  font-size: 80px;
  color: rgba(240, 240, 240, 0.3);
  cursor: pointer;
  margin-bottom: 2rem;
  transition: all 0.2s;
}

.unlockIcon:hover {
  color: #fff;
}
